body {
  font-family: Roboto;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*header*/
.header-container {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu {
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
  width: 1000px;
  padding: 5px;
}

.header-logo {
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
  width: 800px;
  font-size: 24px;
  color: #F9FAF8;
  margin-right: 0;
}

.header-link-one,
.header-link-two,
.header-link-three {
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-end;
  width: 200px;
  font-size: 18px;
  color: #E5E7EB;
  margin-left: 0;
}
/*header*/

/*menu*/
.menu-container {
  /*border: 1px solid blue;*/
  display: flex;
  background-color: #1F2937;
  justify-content: center;
  align-items: center;
  
}

.menu {
  /*border: 1px solid magenta;*/
  display: flex;
  justify-content: space-between;
  width: 1000px;
  padding: 50px 5px;
  
}

.menu-title {
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 100px;
  width: 500px;
  height: 250px;
}

.menu-title-hero {
  /*border: 1px solid;*/
  font-size: 48px;
  font-weight: bold;
  color: #F9FAF8;
  flex: 1 1 auto;
}

.menu-title-sec {
  /*border: 1px solid;*/
  font-size: 18px;
  color: #E5E7EB;
  flex: 2 1 auto;
}

.button-1 {
  border: 1px solid #3882F6;
  border-radius: 5px;
  box-shadow: ;
  background-color: #3882F6;
  color: #E5E7EB;
  font-weight: bold;
  width: 100px;
  padding: 5px;
}

.menu-image {
  display: flex;
}

img {
  width: 500px;
  height: 250px;
}
/*menu*/

/*body*/
.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.body-title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #1F2937;
  margin: 10px 10px;
}

.body-container {
  /*border: 1px solid yellowgreen;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.body-card {
  /*border: 1px solid red;*/
  display: flex;
  justify-content: space-around;
  width: 1000px;
  margin-top: 50px;
}

.body-card-1,
.body-card-2,
.body-card-3,
.body-card-4 {
  border: 2px solid #3882F6;
  border-radius: 5px;
  width: 150px;
  height: 150px;
}

.body-text {
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 1000px;
  margin-top: 5px;
  margin-bottom: 50px;
}

.body-para-container {
  /*border: 1px solid blueviolet;*/
  background-color: #E5E7EB;
  padding: 50px;
}

.body-para {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-para-1 {
  /*border: 1px solid red;*/
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  text-align: justify;
  padding: 0 360px;
}

.body-para-2 {
  /*border: 1px solid orange;*/
  font-size: 18px;
  font-weight: bold;
  color: #1F2937;
  display: flex;
  align-self: flex-end;
  margin-top: 0;
  margin-right: 360px;
}

.body-signup {
  border-radius: 15px;
  box-sizing: border-box;
  background-color: #3882F6;
  color: #F9FAF8;
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-right: 25px;
  padding-left: 25px;
  width: 1000px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body-signup-1{
  font-weight: bold;
}

.button-2 {
  border: 1px solid #E5E7EB;
  border-radius: 5px;
  box-shadow: ;
  background-color: #3882F6;
  color: #E5E7EB;
  font-weight: bold;
  width: 100px;
  padding: 5px;
}
/*body*/

/*footer*/
.footer {
  /*border: 1px solid red;*/
  background-color: #1F2937;
  color: #F9FAF8;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2500px;
}

/*footer*/